# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
*.pyo
*.pyd

# dotenv
.env

# Package distribution files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
*.egg-info

# Logs
*.log

# Docker
*.pid

# VS Code settings
.vscode/

# Node.js / React 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-lock.yaml

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
